version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: user_onboard_db
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 12345
      MYSQL_DATABASE: userdb
    volumes:
      - db_data:/var/lib/mysql
      - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      retries: 5

  app:
    build: .
    container_name: user_onboard_app
    ports:
      - "8080:8080"
    environment:
      - APP_PORT=8080
      - DB_HOST=db
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASS=12345
      - DB_NAME=userdb
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_data:
